body {

  margin: 0;
}

a {
  font-size: 2rem;
  font-family: 'Noto Sans TC', sans-serif;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}

h2 {
  font-size: 3rem;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}

p {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 5rem;
  color: #faeee7;
}

.navbar-brand {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  color: blue;
}

.navbar {
  background-color: #b5076b;
}

.container-fluid {
  overflow: hidden;
}

.first-container {
  padding: 9% 15% 9% 15%;
  text-align: center;
  background-image: linear-gradient(#00005c, #6a097d);
  margin-top: 0;
}

.titlename {
  color: #f4f6ff;
  text-align: center;
  font-size: 7rem;
  text-shadow: 2px 2px #00005c;
}

.second-container {
  background-image: linear-gradient(#b5076b, #00005c);
  text-align: center;
  padding: 2.5% 10% 6% 10%;
}

.devpicture {
  width: 50%;
  float: none;
  margin: 9% auto 9% auto;
  border-radius: 100%;
}

.sub {
  text-align: center;
  line-height: 2;
  font-size: 4rem;
  clear: right;
  color: #f4f6ff;
  text-shadow: 2px 2px #1b1c25;
  font-family: 'Dancing Script', cursive;

}

.scndtitle {
  color: #f4f6ff;
  margin-top: 3%;
  margin-bottom: 5%;
  font-size: 4.5rem;
  text-shadow: 2px 2px #00005c;
}

li {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 3rem;
  color: #f4f6ff;
  text-shadow: 2px 2px #00005c;
  padding: 1% 2% 1% 2%;
  text-align: center;
}

.slide1 {
  padding: 12% 15% 20% 15%;
  /* background-image: linear-gradient(#45046a, #5c2a9d); */
  background-image: url("https://i.ibb.co/HqDTC0p/20191228-075958.jpg");
  background-size: 100%;
}
.slide2 {
  padding: 12% 15% 20% 15%;
  /* background-image: linear-gradient(#b5076b, #f1ebbb); */
  background-image: url("https://i.ibb.co/2WLrQ0Q/20200116-073236.jpg");
  background-size: 100%;
}

.slide3 {
  padding: 12% 15% 20% 15%;
  background-image: linear-gradient(#f1ebbb, #5c2a9d);
    background-size: 100%;
}

.slide-title{
  color: #f4f6ff;
  text-shadow:  3px 3px #1b1c25;
  font-size: 6rem;
}

/* .slide-text{
  color: #f4f6ff;
  text-shadow: 2px 2px #1b1c25; */


.last-container {
  background-image: linear-gradient(#5c2a9d, #f1ebbb);
  padding: 9% 10% 4% 10%;
  text-align: center;
}

.contact-text{
  font-size: 4rem;
  font-family: 'Bebas Neue', cursive;
}

.btn{
  margin-top: 3%;
  font-size: 3rem;
}
  .footer-link{
   margin-top: 3%;
  }

.copyright {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 7%;
  color: #45046a;
}
